.git
.github
.cursor
.pnpm-store
coverage
**/node_modules
**/dist
**/dev-dist
**/.env
**/.env.*
!**/.env.example
apps/client/src
apps/client/public
apps/client/index.html
apps/client/*.config.*
apps/client/tsconfig*.json
*.md
notes.txt
LICENSE
