.day {
    width: calc(100% / 7);
    padding: 0.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .state-container {
        width: 1.3rem;
        height: 1.3rem;
        margin: 0.4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid;
        border-radius: 50%;

        .state {
            width: 0.6rem;
            height: 0.6rem;
            border-radius: 50%;
        }
    }

    .box {
        width: 0.5rem;
        height: 0.5rem;
        margin: 0.2rem 0;
        border-radius: 50%;
        // opacity: 0;
    }
}
