@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #242424;
  --color-gray: #808080;
  --color-light-gray: #dbdbdb;
  --color-purple: #800080;
  --color-blue: #309bff;
  --color-red: #c20404;
  --color-green: #008000;

  /* Level colors */
  --color-lvl-1: #ee4035;
  --color-lvl-2: #f37736;
  --color-lvl-3: #ffdb13;
  --color-lvl-4: #7bc043;
  --color-lvl-5: #0392cf;
  --color-lvl-6: #673888;
  --color-lvl-7: #ef4f91;

  --color-blue-gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /* New style */
  --color-background: #f7f7f7;
}

@layer utilities {
  .h-dvh-8 {
    height: calc(var(--vh, 1vh) * 8);
  }

  .h-dvh-84 {
    height: calc(var(--vh, 1vh) * 80);
  }

  .h-dvh-92 {
    height: calc(var(--vh, 1vh) * 92) !important;
  }

  .h-dvh-100 {
    height: calc(var(--vh, 1vh) * 100) !important;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .bg-lvl-1 {
    background-color: var(--color-lvl-1);
  }

  .bg-lvl-2 {
    background-color: var(--color-lvl-2);
  }

  .bg-lvl-3 {
    background-color: var(--color-lvl-3);
  }

  .bg-lvl-4 {
    background-color: var(--color-lvl-4);
  }

  .bg-lvl-5 {
    background-color: var(--color-lvl-5);
  }

  .bg-lvl-6 {
    background-color: var(--color-lvl-6);
  }

  .bg-lvl-7 {
    background-color: var(--color-lvl-7);
  }
}

body {
  height: calc(100 * 1vh);
  height: calc(var(--vh, 1vh) * 100);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(1rem, 0.75rem + 4vw, 1.25rem);
  line-height: 1.2;
  overflow: hidden;
  background-color: var(--color-background);
}

#desktop-message {
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (min-width: 30em) {
  #root {
    display: none;
  }

  #desktop-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  font-weight: bold;
}

nav,
footer {
  height: calc(10 * 1vh);
  height: calc(var(--vh, 1vh) * 10);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-light-gray);
}

.gradient {
  background-image: var(--color-blue-gradient);
}

.move-left {
  animation: move-left 0.5s ease-out forwards;
}

.move-right {
  animation: move-right 0.5s ease-out forwards;
}

.scale-up {
  animation: scale-up 0.2s ease-out forwards;
}

@keyframes move-left {
  0% {
    z-index: 20;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    z-index: 20;
    transform: rotate(-10deg) translateX(-150%);
    opacity: 1;
  }
  100% {
    z-index: 10;
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes move-right {
  0% {
    z-index: 20;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    z-index: 20;
    transform: rotate(10deg) translateX(150%);
    opacity: 1;
  }
  100% {
    z-index: 10;
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes scale-up {
  0% {
    z-index: 10;
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    z-index: 20;
    transform: scale(1);
    opacity: 1;
  }
}
