@import 'tailwindcss';

@font-face {
  font-family: StampatelloFaceto;
  font-style: regular;
  src: url('/src/assets/fonts/StampatelloFaceto.woff2') format('woff2');
}

@theme {
  --color-black: #242424;
  --color-gray: #808080;
  --color-purple: #800080;
  --color-background: #f7f7f7;

  /* Level colors */
  --color-lvl-1: #ee4035;
  --color-lvl-2: #f37736;
  --color-lvl-3: #ffdb13;
  --color-lvl-4: #7bc043;
  --color-lvl-5: #0392cf;
  --color-lvl-6: #673888;
  --color-lvl-7: #ef4f91;

  --font-card: 'StampatelloFaceto', sans-serif;
}

@layer utilities {
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .bg-lvl-1 {
    background-color: var(--color-lvl-1);
  }

  .bg-lvl-2 {
    background-color: var(--color-lvl-2);
  }

  .bg-lvl-3 {
    background-color: var(--color-lvl-3);
  }

  .bg-lvl-4 {
    background-color: var(--color-lvl-4);
  }

  .bg-lvl-5 {
    background-color: var(--color-lvl-5);
  }

  .bg-lvl-6 {
    background-color: var(--color-lvl-6);
  }

  .bg-lvl-7 {
    background-color: var(--color-lvl-7);
  }

  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* IE and Edge */
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }

  /* Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

body {
  height: 100dvh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(1rem, 0.75rem + 4vw, 1.25rem);
  line-height: 1.2;
  overflow: hidden;
  background-color: var(--color-background);
}

@media screen and (min-width: 30em) {
  #root {
    display: none;
  }
}

.move-left {
  animation: move-left 0.5s ease-out forwards;
}

.move-right {
  animation: move-right 0.5s ease-out forwards;
}

.scale-up {
  animation: scale-up 0.2s ease-out forwards;
}

@keyframes move-left {
  0% {
    z-index: 20;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    z-index: 20;
    transform: rotate(-10deg) translateX(-200%);
    opacity: 1;
  }
  100% {
    z-index: 10;
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes move-right {
  0% {
    z-index: 20;
    transform: translateX(0);
    opacity: 1;
  }
  99% {
    z-index: 20;
    transform: rotate(10deg) translateX(200%);
    opacity: 1;
  }
  100% {
    z-index: 10;
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes scale-up {
  0% {
    z-index: 10;
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    z-index: 20;
    transform: scale(1);
    opacity: 1;
  }
}
