.week {
    width: 100%;
    padding-top: 1em;
    display: flex;
    border-bottom: 1px solid var(--border-bottom-color);

    .day {
        width: calc(100% / 7);
        padding: 0.4em 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .state-container {
            width: 1.2em;
            height: 1.2em;
            margin: 0.4em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid;
            border-radius: 50%;

            .missed {
                color: red;
            }

            .passed {
                color: green;
            }

            .state {
                width: 0.6em;
                height: 0.6em;
                border-radius: 50%;
            }
        }

        .level-color {
            width: 0.5rem;
            height: 0.5rem;
            margin: 0.2rem 0;
            border-radius: 50%;
        }
    }
}