@import "../../utils";

.home {
    // nav {
    //     justify-content: center;
    // }

    .content {
        @include height($points: 84);
        padding: 1em 1.2em;

        .topics {
            height: 100%;
            overflow-y: scroll;

            .topic {
                padding: 1em 4em;
                margin: 1em auto;

                @include centered-flex-container;

                font-size: 1.2rem;
                color: $black;

                background-image: $blue-gradient;
                border-radius: 0.5em;
            }
        }

        .message {
            height: 100%;
            @include centered-flex-container;
        }
    }
}
