.home {
  height: 100%;

  nav {
    justify-content: center;
  }

  & .content {
    height: calc(84 * 1vh);
    height: calc(var(--vh, 1vh) * 84);
    padding: 1em 1.2em;

    & .topics {
      height: 100%;
      overflow-y: scroll;

      & .topic {
        padding: 1em 4em;
        margin: 1em auto;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.2rem;
        color: black;

        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        border-radius: 0.5em;
      }
    }

    & .message {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
