@import "../../utils";

.error {
    padding: 0 1.2em;
    @include height;
    @include centered-flex-container;
    text-align: center;

    .content {
        
        .code {
            font-size: 1.6rem;
            font-weight: bold;
        }

        .link {
            margin-top: 1em;
            
            a {
                font-size: unset;
            }
        }
    }
}
