$black: rgb(36, 36, 36);
$light-gray: rgb(219, 219, 219);
$blue-gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

@mixin height($points: 100) {
    height: calc($points * 1vh);
    height: calc(var(--vh, 1vh) * $points);
}

@mixin centered-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin screen {
    display: block;
    width: 100%;
    @include height;
}