@import "utils";

:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    @include height;
    color: $black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: clamp(1rem, 0.75rem + 4vw, 1.25rem);
    line-height: 1.2;
    overflow: hidden;
}

#desktop-message {
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (min-width: 30em) {
    #root {
        display: none;
    }

    #desktop-message {
        @include centered-flex-container;
    }
}

.screen {
    display: block;
    width: 100%;
    @include height;
}

nav,
footer {
    padding: 0 1.2em;
    @include height($points: 8);
    @include centered-flex-container;
}

nav {
    border-bottom: 1px solid $light-gray;
}

footer {
    border-top: 1px solid $light-gray;
}

ul {
    list-style: none;
}

// a,
// button {
//     font-size: 1.2rem;
//     background-color: transparent;
//     color: $blue;
// }

// button {
//     border: none;
// }

// button:disabled {
//     color: $light-gray;
// }

// a {
//     text-decoration: none;
// }

.card-container {
    width: 100%;
    @include height($points: 84);
    @include centered-flex-container;
}
