@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #242424;
  --color-gray: #808080;
  --color-light-gray: #dbdbdb;
  --color-purple: #800080;
  --color-blue: #309bff;
  --color-red: #c20404;
  --color-green: #008000;
  --color-blue-gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

nav,
footer {
  height: calc(8 * 1vh);
  height: calc(var(--vh, 1vh) * 8);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: calc(84 * 1vh);
  height: calc(var(--vh, 1vh) * 84);
}

.gradient {
  background-image: var(--color-blue-gradient);
}
