@import "utils";

:root {
    box-sizing: border-box;
}


body {
    @include height;
    color: $black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: clamp(1rem, 0.75rem + 4vw, 1.25rem);
    line-height: 1.2;
    overflow: hidden;
}

#desktop-message {
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (min-width: 30em) {
    #root {
        display: none;
    }

    #desktop-message {
        @include centered-flex-container;
    }
}

.screen {
    display: block;
    width: 100%;
    @include height;
}



footer {
    border-top: 1px solid $light-gray;
}

ul {
    list-style: none;
}



.card-container {
    width: 100%;
    @include height($points: 84);
    @include centered-flex-container;
}
