@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #242424;
  --color-gray: #808080;
  --color-light-gray: #dbdbdb;
  --color-purple: #800080;
  --color-blue: #309bff;
  --color-red: #c20404;
  --color-green: #008000;
}

nav,
footer {
  height: calc(8 * 1vh);
  height: calc(var(--vh, 1vh) * 8);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
