:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --border-bottom-color: rgb(219, 219, 219);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-size: clamp(1rem, 0.75rem + 4vw, 1.25rem);
}

html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

#descktop-message {
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (min-width: 30em) {
    #root {
        display: none;
    }

    #descktop-message {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.screen {
    display: block;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

nav {
    position: fixed;
    padding: 0 1.2em;
    top: 0;
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(197, 197, 197);
    font-size: 1.2rem;
  }


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(197, 197, 197);
}
